<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.name.myassistant">

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <!-- 解锁的权限 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- 亮屏的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 接收设备启动的广播 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- 连接网络权限,用于执行云端语音能力 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取手机录音机使用权限,听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 读取网络信息状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取当前wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- 读取手机信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 读取联系人权限,上传联系人需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 外存储写入权限,构建语法需要用到此权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 信息发送，接收和读取 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />


    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />


    <!--<uses-permission android:name="android.permission.DEVICE_POWER" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="@string/amap_app_id" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity android:name=".WaitingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingActivity" />

        <receiver android:name=".shortMessage.SmsReceiver">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".alarm.AlarmReceiver" />
        <receiver
            android:name=".BootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- 高德定位服务 -->
        <service android:name="com.amap.api.location.APSService" />

        <activity android:name=".alarm.AlarmSettingActivity" />
        <activity
            android:name=".LookOtherInfoWebActivity"
            android:label="@string/title_activity_look_other_info_web"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help"
            android:theme="@style/AppTheme" />
        <!--<activity-->
            <!--android:name=".TakePhotoActivity"-->
            <!--android:label="@string/title_activity_take_photo"-->
            <!--android:theme="@style/AppTheme" />-->
        <activity
            android:name=".TimeUpActivity"
            android:label="@string/title_activity_time_up"
            android:theme="@style/AppTheme"></activity>

        <provider android:name=".deskclock.AlarmProvider"
            android:authorities="com.name.myassistant.deskclock"
            android:exported="false" />

        <activity
            android:label="@string/app_name"
            android:name=".deskclock.v.DeskClockMainActivity"
            android:icon="@drawable/clock_launcher"
            android:launchMode="singleInstance"
            android:configChanges="orientation|keyboardHidden|keyboard|navigation">

            <!-- while docked, this is our home application -->
            <meta-data android:name="android.dock_home" android:value="true" />

            <intent-filter >
                <category android:name="android.intent.category.DESK_DOCK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".deskclock.v.SetAlarmActivity" android:label="@string/set_alarm"
            android:configChanges="orientation|keyboardHidden|keyboard|navigation" />

        <activity android:name=".deskclock.v.SettingsActivity"
            android:label="@string/settings"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name=".deskclock.v.AlarmAlertFullScreenActivity"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:configChanges="orientation|keyboardHidden|keyboard|navigation"/>

        <receiver android:name=".deskclock.AlarmReceiver">
            <intent-filter>
                <action android:name="com.name.myassistant.deskclock.ALARM_ALERT" />
                <action android:name="alarm_killed" />
                <action android:name="cancel_snooze" />
            </intent-filter>
        </receiver>

        <activity android:name=".deskclock.v.AlarmAlertActivity"
            android:excludeFromRecents="true"
            android:theme="@style/alarm_alert"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:configChanges="orientation|keyboardHidden|keyboard|navigation"/>


        <activity android:name=".deskclock.v.HandleSetAlarmActivity"
            android:theme="@android:style/Theme.NoDisplay"
            android:excludeFromRecents="true"
            android:permission="com.android.alarm.permission.SET_ALARM">
            <intent-filter>
                <action android:name="android.intent.action.SET_ALARM" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- This service receives the same intent as AlarmReceiver but it does
             not respond to the same broadcast. The AlarmReceiver will receive
             the alert broadcast and will start this service with the same
             intent. The service plays the alarm alert and vibrates the device.
             This allows the alert to continue playing even if another activity
             causes the AlarmAlertActivity activity to pause. -->
        <service android:name=".deskclock.AlarmKlaxonService"
            android:description="@string/alarm_klaxon_service_desc"
            >
            <intent-filter>
                <action android:name="com.name.myassistant.deskclock.ALARM_ALERT" />
            </intent-filter>
        </service>

        <receiver android:name=".deskclock.AlarmInitReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
